{% extends 'users/base.html' %}

{% block head_content %}
<title>Instagram | Sign In </title>
{% endblock head_content %}

{% block container %}
{% if error %}
<div class="alert alert-danger">
    <p>{{ error }}</p>
</div>
{% endif %}
<form action="{% url 'users:signup' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" name="first_name" class="form-control" placeholder="First Name" required>
    </div>
    <div class="form-group">
        <input type="text" name="last_name" class="form-control" placeholder="Last Name" required>
    </div>
    <div class="form-group">
        <input type="email" name="email" class="form-control" placeholder="Email" required>
    </div>
    <div class="form-group">
        <input type="text" name="username" class="form-control" placeholder="Username" required>
    </div>
    <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <div class="form-group">
        <input type="password" name="password_confirmation" class="form-control" placeholder="Confirm Password" required>
    </div>
    <div class="d-grid gap-2 mt-5">
        <button class="btn btn-primary" type="submit">Register</button>
    </button>
</form>
{% endblock container %}