{% extends 'base.html' %}

{% block head_content %}
<title>Instagram Feed</title>
{% endblock head_content %}

{% block container %}
<div class="row pt-5">
    {% for post in posts %}
    <div class="col-lg-4 offset-lg-4 pb-2">
        <div class="d-flex">
            <img src="{{ post.user.picture }}" alt="{{ post.user.name }}"
                 class="flex-shrink-0 me-2 rounded-circle">
            <div>
                <h4>{{ post.user.name }}</h4>
                <small>{{post.timestamp}}</small>
            </div>
        </div>
        <img src="{{ post.photo }}" alt="post.title" class="img-fluid mt-1 border rounded">
        <h6 class="ml-1 mt-1">{{ post.title }}</h6>
    </div>
    {% endfor %}
</div>
{% endblock container %}
            

